*,:after,:before {
    box-sizing:border-box
}
html {
    overflow-x:hidden!important
}
/* Đổi màu chữ cho các mục trong menu xổ ra ngay khi menu xổ xuống */
.dropdown-menu li a {
    color: #d4d5d5; /* Đổi mã màu bạn muốn */
  }
  .dropdown-menu li a:hover {
    color: #ff3b2d; /* Đổi mã màu khi hover */
  }
  
#wrapper {
    background:#367c3e;
    padding:0 0 15px
}
.halim-search-form .form-control {
    -webkit-box-shadow:none!important;
    box-shadow:none!important;
    border:1px solid #273e52;
    color:#7aa6ce;
    font-size:13px;
    border-radius:20px!important;
    transition:.7s all;
    padding:10px 40px;
    background:#0137066e url(assets/images/search.svg) 5px 2px no-repeat
}
body.halimthemes {
    color:#c9c9c9;
    font-size:14px;
    line-height:1.6;
    letter-spacing:.6px;
    overflow-x:hidden;
    background:#2d5a25 url(assets/images/halimBg.png) fixed center
}
.section-title span {
    font-weight:400;
    float:left;
    margin-top:-15px;
    border:1px solid #013215;
    background:#056525;
    font-size:13px;
    padding:10px 15px 7px;
    color:#f7eb9d
}
.halim-panel-filter .panel-heading {
    background:#416e3c;
    border-bottom:1px solid #003300;
    padding:12px 15px
}
a {
    color:#87c3f9
}
a,a:hover,a:focus {
    text-decoration:none
}
textarea,select,input {
    outline:none
}
::-webkit-scrollbar {
    width:6px
}
::-webkit-scrollbar-track {
    background:#013f0b
}
::-webkit-scrollbar-thumb {
    background:#b1f69a6f
}
::-moz-selection {
    background:#c91414;
    text-shadow:none
}
::selection {
    background:#fd9dff;
    color:#fff;
    text-shadow:none
}
img {
    max-width:100%;
    height:auto;
    vertical-align:middle
}
img:hover {
    filter:brightness(1);
    -webkit-filter:brightness(1)
}
#halim_wrapper {
    max-width:1022px;
    padding:0 13px;
    margin:0 auto;
    background:#fff
}

#headwrap {
    padding:5px 0;
    margin:10px 0
}
#headwrap .col-md-3.slogan {
    margin-top:-5px;
    padding:0
}
#headwrap .col-md-4 {
    padding-right:0;
    text-align:right
}
#headwrap .form-group {
    margin:0
}
#header {
    background:#5d795ca9
}
#header .site-title {
    margin:0;
    text-indent:-9999px;
    background:url() no-repeat top left;
    background-size:contain;
    height:45px;
    margin-top:-5px;
    position:relative
}
#header .site-title a {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0
}
@media(max-width:767px) {
    #header .site-title {
    background-position:center!important
}

}
#header>.container {
    padding-left:0;
    padding-right:0;
    position:relative
}
.header-nav {
    margin-right:0;
    position:relative
}
.header-nav img {
    max-width:100%;
    margin:10px 0
}
.container {
    
}

.navbar-container .container {
    padding:0
}
.fix.hl-dot-3:before {
    transform:rotate(90deg) scale(.968) skew(1deg) translate(0)
}
.msearch {
    margin:10px 0 -10px;
    overflow:hidden
}
.navbar {
    min-height:48px!important;
    margin:0
}
.navbar-container {
    background:#246504;
    transition:.25s transform;
    backface-visibility:hidden;
    z-index:9999
}
.main-navigation {
    background:#246504;
    border:none
}
.main-navigation .navbar-nav>li>a {
    color:#d0d0d0;
    font-size:14px;
    -webkit-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
    border-right:1px solid #000;
    padding:15px
}
.home .main-navigation .navbar-nav>.active>a {
    background:0 0
}
.main-navigation .navbar-nav>li>a i {
    font-size:12px
}
.main-navigation .navbar-nav>li>a:hover,.main-navigation .navbar-nav>li>a:focus {
    color:#fdfdfd;
    background:#25540d
}
.main-navigation .navbar-nav>.active>a,.main-navigation .navbar-nav>.active>a:hover,.main-navigation .navbar-nav>.active>a:focus {
    color:#fdfdfd;
    background:#25540d;
    border:none
}
.dropdown-menu {
    background:#25540d!important;
    
    right:0
}
.main-navigation .navbar-nav>li.current_page_item:first-child a {
    border:none
}

#main-contents {
    position:relative
}
@media screen and (max-width:767px) {
    .main-navigation .navbar-nav>li>a {
    padding:10px
}
.main-navigation {
    border-bottom:0
}
.navbar {
    min-height:35px!important
}
.main-navigation .navbar-nav>li>a {
    color:#b51d1d
}
#main-contents {
    padding:0 15px
}

}

@media(min-width:1200px) {
    #main-contents {
    width:840px
}
#sidebar {
    width:330px
}

}
.panel-body {
    padding:15px
}
.section-heading {
    padding:0 6px 0 0;
    margin:21px 0 15px;
    font-size:16px;
    line-height:20px;
    position:relative
}
.section-heading:before {
    content:'';
    height:100%;
    width:auto;
    left:5px;
    right:5px;
    -webkit-transform:skew(-20deg);
    -moz-transform:skew(-20deg);
    -o-transform:skew(-20deg);
    background:#638554!important;
    position:absolute
}
.section-heading .h-text {
    font-weight:400;
    line-height:21px;
    font-size:14px;
    text-transform:uppercase;
    background-color:#123501;
    line-height:34px;
    padding:9px 25px 9px 10px;
    margin-left:12px;
    position:relative;
    color:#ffffff
}
.section-heading .h-text:before {
    content:'';
    display:inline-block;
    background-color:#123501;
    position:absolute;
    top:0;
    left:-6px;
    width:15px;
    height:100%;
    z-index:1;
    -webkit-transform:skew(-20deg);
    -moz-transform:skew(-20deg);
    -o-transform:skew(-20deg);
    border:none
}
.section-heading .h-text:after {
    content:'';
    display:inline-block;
    position:absolute;
    top:0;
    right:-7px;
    width:13px;
    height:100%;
    z-index:1;
    background:#2d4522;
    -webkit-transform:skew(-20deg);
    -moz-transform:skew(-20deg);
    -o-transform:skew(-20deg)
}
.section-heading .heading-nav {
    display:inline-table
}
.halim-post-title-box {
    position:absolute;
    line-height:18px;
    padding:80px 0 0;
    margin:0;
    width:100%;
    height:auto;
    bottom:0;
    background:linear-gradient(to bottom,rgba(233, 23, 23, 0) 0%,rgba(6,6,6,.24) 30%,rgba(0,0,0,.8) 100%)
}
.video-item .halim-post-title-box {
    background:0 0;
    height:auto
}
.halim-post-title {
    position:absolute;
    background:transparent;
    line-height:18px;
    padding:8px 10px 4px;
    margin:0;
    bottom:0;
    width:100%
}
.list-news .halim-post-title {
    position:static;
    background:0 0
}
.owl-carousel .halim-post-title {
    bottom:0
}
.halim-post-title h2 {
    margin:0;
    line-height:20px
}
.halim-post-title a,.halim-post-title h2,.halim-post-title p,.popular-post .original_title {
    font-size:14px!important;
    color:#fff;
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-flex:1;
    -webkit-box-orient:vertical;
    margin-bottom:3px
}





a:hover {
    transition:color .2s ease;
    -webkit-transition:color .2s ease;
    -moz-transition:color .2s ease
}
.form-control {
    -webkit-box-shadow:none!important;
    box-shadow:none!important
}


#slider {
    background:#005ef6
}
@media(min-width:768px) {
    .video-item .item-thumbnail:hover .link-overlay {
    background:rgba(0, 170, 255, 0.55);
    text-decoration:none
}


}
.pagination>li:last-child>a,.pagination>li:last-child>span {
    border-bottom-right-radius:4px;
    border-top-right-radius:4px
}
.pagination>li:first-child>a,.pagination>li:first-child>span {
    margin-left:0;
    border-bottom-left-radius:4px;
    border-top-left-radius:4px
}
@media(min-width:992px) {
    .box {
    margin:10px;
    padding:10px
}
.box-right {
    margin-left:0!important
}
.movie-actions {
    padding-left:10px
}
.movie-view {
    padding-right:10px
}

}
.heading {
    display:none
}

#halim-player-wrapper {
    height:456px;
    position:relative;
    z-index:9
}

@media(max-width:500px) {
    #halim-player-loader {
    margin:auto -15px
}

}

.navbar-collapse {
    padding-left:0!important
}

.navbar-toggle,button.navbar-toggle.collapsed {
    margin:6px 0
}
.navbar-toggle.pull-right.collapsed {
    margin:6px 0 2px;
    padding:9px
}
.halim_box {
    list-style:none;
    padding:0;
    margin:10px -2px 20px;
    position:relative;
    overflow:hidden;
    width:auto
}
.halim-news-box-widget .halim_box {
    margin:auto
}
.halim_box li.col-md-3.col-sm-6.col-xs-6.thumb img {
    width:100%
}
.halim_box a.halim-thumb {
    position:relative;
    display:inline-block;
    -webkit-transition:all .1s ease;
    -o-transition:all .1s ease;
    transition:all .7s ease;
    width:100%
}
.halim_box.news a.halim-thumb {
    width:unset
}
.col-md-3.col-sm-6.col-xs-6.thumb {
    position:relative
}
.halim_box li:nth-child(4n) {
    margin-right:0!important
}
@media(max-width:480px) {
    .logo span {
    font-size:18px
}
.col-md-3.col-sm-6.col-xs-6.thumb {
    padding:0;
    width:50%!important;
    margin-right:5px;
    margin-top:15px;
    padding:5px
}
.col-md-3.col-sm-6.col-xs-6.thumb img {
    height:auto
}

}
@media(max-width:767px) {
    .logo span {
    font-size:20px
}
.logo img {
    max-width:100%;
    margin-left:10px
}
.navbar-collapse {
    padding-left:15px!important
}
.navbar-right.msearch {
    width:100%!important
}
#secondary {
    width:100%
}
#primary {
    float:none;
    width:100%
}
.col-md-3.col-sm-6.col-xs-6.thumb {
    padding:5px;
    width:50%;
    margin-right:0;
    margin-top:15px
}
.halim_box li.col-md-3.col-sm-6.col-xs-6.thumb img {
    width:100%
}
.info .thumbnail {
    max-width:100%;
    float:none;
    margin-right:10px
}

}
@media(min-width:768px) and (max-width:991px) {
    .hidden-sm {
    display:none!important
}
#secondary {
    width:100%
}
#primary {
    float:none;
    width:100%
}

}
@media(min-width:992px) and (max-width:1199px) {
    .hidden-md {
    display:none!important
}

}


.section-bar .grid-1 {
    margin-bottom:0
}
.section-bar {
    position:relative;
    margin:15px 0
}
.section-title {
    position:relative
}

.section-tab {
    float:right;
    list-style-type:none;
    margin-top:8px;
    overflow:hidden;
    white-space:nowrap
}
.section-title {
    font-size:13px;
    text-transform:uppercase;
    font-weight:700
}
.sidebar-menu {
    position:relative
}
.np-viewall {
    position:absolute;
    top:2px;
    right:0;
    background:#015d24;
    line-height:14px;
    padding:1px 0 4px 8px
}



.section-title span::after {
    content:''
}
.section-title {
    font-size:16px;
    line-height:11px;
    display:block;
    margin:13px 0 10px;
    position:relative;
    text-transform:uppercase;
    border-top:1px solid #1d2731
}
.section-title span {
    position:relative
}
.section-title span:before {
    content:'';
    background:#015d24;
    border-radius:100%;
    position:absolute;
    padding:6px;
    border:1px solid #1b2b3a;
    margin-left:2px;
    top:6px;
    right:-16px
}
.section-title span:after {
    content:'';
    background:#015d24;
    border-radius:100%;
    position:absolute;
    padding:4px;
    border:1px solid #1b2b3a;
    margin-left:12px;
    top:8px;
    right:-26px
}
.widget-area ul li {
    list-style-type:square;
    word-wrap:break-word
}

.keyword {
    height:30px;
    float:left;
    border:1px solid #fff;
    width:100%;
    background:#fff
}
.navbar-right.msearch {
    position:relative
}
#search-form {
    margin:5px
}
input.search-btn.pull-right {
    position:absolute;
    right:0;
    border:1px solid #008cca;
    background:#008cca url(assets/images/search.png) 49% no-repeat;
    background-size:13px;
    padding:5px 16px;
    margin:0
}

@media(min-width:768px) {
    .navbar-nav .dropdown-menu::before {
    content:'';
    z-index:999;
    display:block;
    top:-13px;
    left:30px;
    position:absolute
}

}



tr.title {
    background:#ddd;
    color:#703f9d
}
.col-md-4.slogan {
    padding-left:0
}
.wrap-content .info {
    padding:15px 0
}
.info .thumbnail {
    float:left;
    margin-right:10px
}
.info .entry-header .entry-title {
    font-size:20px;
    margin:0 0 8px
}
.info .entry-header .entry-meta span {
    display:block;
    padding:3px 0
}
.col-md-8.pull-right {
    padding-right:0
}
@media(min-width:768px) {
    #search-form,#user-info {
    display:none!important
}

}
.single-post .entry-title {
    font-size:17px;
    margin:0
}
.single-post .entry-title a {
    color:#bdbdbd;
    line-height:35px
}
.halim-entry-box .item-content {
    overflow:hidden;
    transition:all .2s ease
}
.halim-entry-box .item-info {
    margin-bottom:10px;
    font-size:11px
}
.halim-entry-box .item-content,.content-single img {
    max-width:100%
}
.halim-entry-box .item-content {
    overflow:hidden;
    transition:all .2s ease
}
@media(max-width:767px) {
    .halim-entry-box .item-content {
    height:100%
}
.halim-entry-box .item-content.toggled {
    height:auto
}

}






.grid-item .icon_overlay,.slider-thumb .icon_overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#020202 url(assets/images/play-icon.png) no-repeat center center;
    background-size:30px;
    opacity:0;
    -webkit-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateZ(0) scale(1,1)
}
.grid-item:hover .icon_overlay,.slider-thumb:hover .icon_overlay {
    opacity:.75
}
.parent {
    width:100%;
    height:100%;
    display:table;
    text-align:center
}

#mobile-search-form.halim-search-form {
    margin-top:10px
}
#mobile-search-form.halim-search-form .form-group {
    margin-bottom:5px
}
#mobile-search-form.halim-search-form input {
    
}
@media(max-width:767px) {
    #search-form {
    margin:0!important
}
.ui-autocomplete.ajax-results {
    top:unset!important
}
.user.user-login-option .dropdown-menu {
    left:0!important
}

}

@media screen and (max-width:767px) {
    .halim-social-plugin {
    display:grid
}
.nav-tabs.nav-justified>li {
    float:left!important
}

}
.film_info,.film_info .col-md-12 {
    padding:0;
    margin-bottom:7.5px;
    overflow:hidden
}
.film_info span {
    display:block;
    padding:10px 0;
    margin:-1px 0;
    float:left;
    width:33.33333%
}
@media(max-width:767px) {
    .film_info span {
    float:none;
    width:100%
}

}
.film_info .col-xs-12,.film_info .col-xs-8,.film_info .col-xs-4 {
    padding:5px 0
}
.film_info .col-xs-12.alert {
    padding:5px 15px
}
.film_info span.alert-warning {
    background-color:#ffbdbd;
    border-color:#ffb213
}
.movie_info {
    position:relative;
    margin-bottom:15px;
    overflow:hidden;
    height:auto;
    padding:0
}
.movie-btn {
    position:absolute;
    bottom:-8px
}
.film-poster {
    position:relative;
    width:72.2%;
    height:auto;
    overflow:hidden;
    padding:0
}
.film-poster .poster-image {
    width:100%;
    max-height:350px
}
.film-poster .poster {
    max-width:100%;
    width:100%;
    height:301px;
    transition:.7s all;
    filter:brightness(.7);
    -webkit-filter:brightness(.7)
}

.detail-poster {
    position:relative;
    width:27.8%;
    padding:0;
    display:inline-block
}
.detail-poster img {
    width:100%;
    height:333px;
    display:inline-block;
    border:6px solid #331f1f
}
@media(max-width:767px) {
    .detail-poster img {
    width:100%;
    height:auto;
    display:inline-block;
    border:6px solid #1f2933
}

}
.detail-poster .halim_imdbrating {
    background:#f38f38;
    display:inline;
    padding:7px 8px;
    border-radius:100%;
    position:absolute;
    top:15px;
    right:15px;
    z-index:9;
    color:#fff
}
.detail-poster .rating-detail {
    text-align:center;
    margin-top:3px;
    font-size:11px
}
.movie-detail {
    bottom:0;
    width:100%;
    padding-left:15px;
    padding-top:5px;
    background:rgba(255, 0, 0, 0.63);
    background:linear-gradient(16deg,#061019 0,rgba(0,0,0,0) 95%,rgba(0,0,0,0));
    color:#a5a5a5
}
.movie-detail a {
    color:#c5c5c5;
    margin-left:3px
}
.movie-detail p {
    margin-bottom:2px;
    font-size:13.5px;
    color:#daba7d
}
.movie-title {
    bottom:-44px;
    width:100%;
    padding:10px 15px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    margin:0;
    font-size:22px;
    text-align:left;
    color:#cecece
}
@media(max-width:480px) {
    .movie_info {
    position:relative;
    height:250px
}
.film-poster {
    height:auto
}
.movie-title {
    font-size:15px
}

}
@media(max-width:991px) {
    .film-poster {
    float:right
}

}
@media(max-width:767px) {
    .movie-detail {
    float:none;
    width:100%;
    text-align:left;
    position:unset;
    padding:0;
    background:0 0
}



.film-poster .poster {
    height:auto
}

}
.comment-scroll {
    overflow-x:hidden;
    max-height:405px
}

@-moz-keyframes halim-pulse {
    0% {
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -webkit-transform:scale(0);
    transform:scale(0);
    opacity:0
}
25% {
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -webkit-transform:scale(0);
    transform:scale(0);
    opacity:.3
}
50% {
    -moz-transform:scale(.2);
    -ms-transform:scale(.2);
    -webkit-transform:scale(.2);
    transform:scale(.2);
    opacity:.5
}
75% {
    -moz-transform:scale(.6);
    -ms-transform:scale(.6);
    -webkit-transform:scale(.6);
    transform:scale(.6);
    opacity:.7
}
100% {
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -webkit-transform:scale(1);
    transform:scale(1);
    opacity:0
}

}
@-ms-keyframes halim-pulse {
    0% {
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -webkit-transform:scale(0);
    transform:scale(0);
    opacity:0
}
25% {
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -webkit-transform:scale(0);
    transform:scale(0);
    opacity:.3
}
50% {
    -moz-transform:scale(.2);
    -ms-transform:scale(.2);
    -webkit-transform:scale(.2);
    transform:scale(.2);
    opacity:.5
}
75% {
    -moz-transform:scale(.6);
    -ms-transform:scale(.6);
    -webkit-transform:scale(.6);
    transform:scale(.6);
    opacity:.7
}
100% {
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -webkit-transform:scale(1);
    transform:scale(1);
    opacity:0
}

}
@-o-keyframes halim-pulse {
    0% {
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -webkit-transform:scale(0);
    transform:scale(0);
    opacity:0
}
25% {
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -webkit-transform:scale(0);
    transform:scale(0);
    opacity:.3
}
50% {
    -moz-transform:scale(.2);
    -ms-transform:scale(.2);
    -webkit-transform:scale(.2);
    transform:scale(.2);
    opacity:.5
}
75% {
    -moz-transform:scale(.6);
    -ms-transform:scale(.6);
    -webkit-transform:scale(.6);
    transform:scale(.6);
    opacity:.7
}
100% {
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -webkit-transform:scale(1);
    transform:scale(1);
    opacity:0
}

}
@-webkit-keyframes halim-pulse {
    0% {
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -webkit-transform:scale(0);
    transform:scale(0);
    opacity:0
}
25% {
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -webkit-transform:scale(0);
    transform:scale(0);
    opacity:.3
}
50% {
    -moz-transform:scale(.2);
    -ms-transform:scale(.2);
    -webkit-transform:scale(.2);
    transform:scale(.2);
    opacity:.5
}
75% {
    -moz-transform:scale(.6);
    -ms-transform:scale(.6);
    -webkit-transform:scale(.6);
    transform:scale(.6);
    opacity:.7
}
100% {
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -webkit-transform:scale(1);
    transform:scale(1);
    opacity:0
}

}
@keyframes halim-pulse {
    0% {
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -webkit-transform:scale(0);
    transform:scale(0);
    opacity:0
}
25% {
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -webkit-transform:scale(0);
    transform:scale(0);
    opacity:.3
}
50% {
    -moz-transform:scale(.2);
    -ms-transform:scale(.2);
    -webkit-transform:scale(.2);
    transform:scale(.2);
    opacity:.5
}
75% {
    -moz-transform:scale(.6);
    -ms-transform:scale(.6);
    -webkit-transform:scale(.6);
    transform:scale(.6);
    opacity:.7
}
100% {
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -webkit-transform:scale(1);
    transform:scale(1);
    opacity:0
}

}
@-webkit-keyframes pulse {
    0% {
    -webkit-transform:scale(0);
    opacity:0
}
8% {
    -webkit-transform:scale(0);
    opacity:0
}
15% {
    -webkit-transform:scale(.1);
    opacity:1
}
30% {
    -webkit-transform:scale(.5);
    opacity:1
}
100% {
    opacity:0;
    -webkit-transform:scale(1)
}

}
@-moz-keyframes pulse {
    0% {
    -moz-transform:scale(0);
    opacity:0
}
8% {
    -moz-transform:scale(0);
    opacity:0
}
15% {
    -moz-transform:scale(.1);
    opacity:1
}
30% {
    -moz-transform:scale(.5);
    opacity:1
}
100% {
    opacity:0;
    -moz-transform:scale(1)
}

}



@-webkit-keyframes halim-bookmark-animation {
    0% {
    -webkit-transform:rotate(0) scale(.5) skew(1deg);
    -webkit-opacity:.1
}
30% {
    -webkit-transform:rotate(0) scale(.7) skew(1deg);
    -webkit-opacity:.5
}
100% {
    -webkit-transform:rotate(0) scale(1) skew(1deg);
    -webkit-opacity:.1
}

}
@-webkit-keyframes halim-bookmark-fill-animation {
    0% {
    -webkit-transform:rotate(0) scale(.7) skew(1deg);
    opacity:.2
}
50% {
    -webkit-transform:rotate(0) scale(1) skew(1deg);
    opacity:.2
}
100% {
    -webkit-transform:rotate(0) scale(.7) skew(1deg);
    opacity:.2
}

}
@-webkit-keyframes halim-bookmark-img-animation {
    0% {
    -webkit-transform:rotate(0) scale(1) skew(1deg)
}
10% {
    -webkit-transform:rotate(-5deg) scale(1) skew(1deg)
}
20% {
    -webkit-transform:rotate(5deg) scale(1) skew(1deg)
}
30% {
    -webkit-transform:rotate(-5deg) scale(1) skew(1deg)
}
40% {
    -webkit-transform:rotate(5deg) scale(1) skew(1deg)
}
50% {
    -webkit-transform:rotate(0) scale(1) skew(1deg)
}
100% {
    -webkit-transform:rotate(0) scale(1) skew(1deg)
}

}





.halim-logo-bar {
    width:100px!important
}
.jw-logo-bar {
    background-size:100px 19px;
    background-repeat:no-repeat;
    background-position:center center;
    height:30px;
    width:110px;
    -webkit-transform:translateZ(0);
    -webkit-font-smoothing:antialiased
}
.halim-resize-bar {
    background-size:100px 19px;
    background-repeat:no-repeat;
    background-position:center center;
    height:30px;
    -webkit-transform:translateZ(0);
    -webkit-font-smoothing:antialiased
}
.halim-toggle-light {
    background-size:100px 19px;
    background-repeat:no-repeat;
    background-position:center center;
    height:30px;
    -webkit-transform:translateZ(0);
    -webkit-font-smoothing:antialiased
}
.jw-logo-bar .player-tooltip,.halim-toggle-light .player-tooltip,.halim-resize-bar .player-tooltip {
    background:rgba(0,0,0,.81);
    font-size:11px;
    bottom:100%;
    color:#fff;
    display:block;
    left:-25px;
    margin-bottom:15px;
    opacity:0;
    padding:5px 10px;
    line-height:24px;
    pointer-events:none;
    position:absolute;
    -webkit-transform:translateY(10px);
    -moz-transform:translateY(10px);
    -ms-transform:translateY(10px);
    -o-transform:translateY(10px);
    transform:translateY(10px);
    -webkit-transition:all .25s ease-out;
    -moz-transition:all .25s ease-out;
    -ms-transition:all .25s ease-out;
    -o-transition:all .25s ease-out;
    transition:all .25s ease-out;
    -webkit-box-shadow:2px 2px 6px rgba(0,0,0,.28);
    -moz-box-shadow:2px 2px 6px rgba(0,0,0,.28);
    -ms-box-shadow:2px 2px 6px rgba(0,0,0,.28);
    -o-box-shadow:2px 2px 6px rgba(0,0,0,.28);
    box-shadow:2px 2px 6px rgba(0,0,0,.28)
}
.jw-logo-bar .player-tooltip:before,.halim-toggle-light .player-tooltip:before,.halim-resize-bar .player-tooltip:before {
    bottom:-20px;
    content:" ";
    display:block;
    height:20px;
    left:0;
    position:absolute;
    width:100%
}
.jw-logo-bar .player-tooltip:after,.halim-toggle-light .player-tooltip:after,.halim-resize-bar .player-tooltip:after {
    border-left:solid transparent 10px;
    border-right:solid transparent 10px;
    border-top:solid rgba(0,0,0,.62) 10px;
    bottom:-10px;
    content:" ";
    height:0;
    left:50%;
    margin-left:-13px;
    position:absolute;
    width:0
}
.jw-logo-bar:hover .player-tooltip,.halim-toggle-light:hover .player-tooltip,.halim-resize-bar:hover .player-tooltip {
    opacity:1;
    pointer-events:auto;
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
    -ms-transform:translateY(0);
    -o-transform:translateY(0);
    transform:translateY(0)
}
.jw-logo-bar .player-tooltip,.halim-toggle-light .player-tooltip,.halim-resize-bar .player-tooltip {
    display:none
}
.jw-logo-bar:hover .player-tooltip,.halim-toggle-light:hover .player-tooltip,.halim-resize-bar:hover .player-tooltip {
    display:block
}
.halim-icon-expand.size-small:before {
    background-image:url(https://i.imgur.com/twGIvru.png)
}
.halim-icon-expand.size-large:before {
    background-image:url(https://i.imgur.com/6YPXfj3.png)
}
.halim-icon-toggle-light:before {
    background-image:url(https://i.imgur.com/bUMAkKj.png);
    background-size:20px!important
}
.halim-icon-expand:before,.halim-icon-toggle-light:before {
    padding:11px 5px;
    display:inline-block;
    content:" ";
    width:16px;
    height:17px;
    background-repeat:no-repeat;
    background-position:center center;
    overflow:hidden;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    background-size:26px 14px
}
.halim-icon-toggle-light:before {
    width:13px
}
.tooltip.top .tooltip-arrow {
    border-top-color:#0482ba!important
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color:#0482ba!important
}
.tooltip-inner {
    background-color:#008cca!important
}
.nav-tabs.nav-justified {
    border-bottom:2px solid #365979
}
.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover {
    border:1px solid #0084ff;
    border-bottom-color:#365979;
    background:#0084ff;
    color:#fff;
    font-weight:700;
    text-overflow:ellipsis;
    white-space:nowrap
}
.nav-tabs.nav-justified>li>a {
    color:#7aa6ce;
    text-overflow:ellipsis;
    white-space:nowrap;
    border-bottom:1px solid transparent
}
.nav-tabs>li>a:hover {
    border-color:#0084ff!important;
    background:#365979!important;
    color:#fff
}
@media(max-width:767px) {
    .nav-justified>li>a,.nav-tabs.nav-justified>li>a {
    margin-bottom:1px!important
}

}
.fullwith-slider .owl-carousel-fullwidth {
    margin:0
}
.owl-carousel-fullwidth {
    position:relative;
    margin-top:15px
}
.owl-carousel-fullwidth .owl-nav {
    position:absolute;
    top:45%
}
.owl-carousel,.owl-carousel .owl-item {
    -webkit-tap-highlight-color:transparent;
    position:relative
}
.owl-carousel {
    display:none;
    width:100%;
    z-index:1;
    padding:0
}
.owl-carousel .owl-stage {
    position:relative;
    -ms-touch-action:pan-Y
}
.owl-carousel .owl-stage:after {
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0
}
.owl-carousel .owl-stage-outer {
    position:relative;
    overflow:hidden;
    -webkit-transform:translate3d(0,0,0)
}
.owl-carousel .owl-item {
    min-height:1px;
    float:left;
    -webkit-backface-visibility:hidden;
    -webkit-touch-callout:none
}
.owl-carousel .owl-item img {
    display:block;
    width:100%;
    -webkit-transform-style:preserve-3d
}
.no-js .owl-carousel,.owl-carousel.owl-loaded {
    display:block
}
.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev {
    cursor:pointer;
    cursor:hand;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.owl-carousel.owl-loading {
    opacity:0;
    display:block
}
.owl-carousel.owl-hidden {
    opacity:0
}
.owl-carousel.owl-refresh .owl-item {
    visibility:hidden
}
.owl-carousel.owl-drag .owl-item {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    list-style:none
}
.owl-carousel.owl-grab {
    cursor:move;
    cursor:grab
}
.owl-carousel.owl-rtl {
    direction:rtl
}
.owl-carousel.owl-rtl .owl-item {
    float:right
}
.owl-carousel .animated {
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.owl-carousel .owl-animated-in {
    z-index:0
}
.owl-carousel .owl-animated-out {
    z-index:1
}
.owl-carousel .fadeOut {
    -webkit-animation-name:fadeOut;
    animation-name:fadeOut
}
@-webkit-keyframes fadeOut {
    0% {
    opacity:1
}
100% {
    opacity:0
}

}
@keyframes fadeOut {
    0% {
    opacity:1
}
100% {
    opacity:0
}

}


.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev {
    background:rgba(9, 198, 104, 0.75);
    color:#fff;
    border-radius:0;
    padding:8px 5px;
    position:absolute;
    top:38%
}
.owl-nav {
    position:absolute;
    top:40%;
    left:0;
    right:0
}
.owl-carousel .owl-nav .owl-prev {
    left:30px
}
.owl-carousel .owl-nav .owl-next {
    right:30px
}
@media(max-width:767px) {
    .owl-carousel-fullwidth .owl-nav .owl-prev {
    left:7px;
    top:-20px
}
.owl-carousel-fullwidth .owl-nav .owl-next {
    right:7px;
    top:-20px
}

}
.halim-carausel-widget .owl-dots {
    text-align:right;
    display:none
}
.wrap-slider .owl-carousel .owl-nav .owl-next {
    right:0
}
.wrap-slider .owl-carousel .owl-nav .owl-prev {
    left:0
}
.owl-dots {
    position:absolute;
    right:-2px;
    bottom:-22px
}
.owl-carousel-fullwidth .owl-dots {
    position:absolute;
    right:10px;
    bottom:0;
    top:initial;
    background:0 0
}
.related-film {
    margin-bottom:20px
}
.related-film .owl-dots {
    right:42.3333%;
    bottom:unset;
    display:none
}
#main-contents .owl-carousel .owl-nav .owl-prev {
    left:0
}
#main-contents .owl-carousel .owl-nav .owl-next {
    right:0
}
#main-contents .owl-carousel .owl-nav .owl-next,#main-contents .owl-carousel .owl-nav .owl-prev {
    background:#c57b1b;
    color:#fff;
    border-radius:0!important;
    padding:10px 5px;
    position:absolute;
    top:35%
}
#main-contents .owl-carousel-fullwidth .owl-dots {
    bottom:0;
    top:inherit;
    right:0
}
#main-contents .owl-carousel-fullwidth .owl-dots {
    bottom:-5px;
    top:inherit
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top:10px
}
.owl-theme .owl-dots .owl-dot {
    display:inline-block;
    zoom:1
}
.owl-theme .owl-dots .owl-dot span {
    width:25px;
    margin:5px 2px;
    background:#52a7f1;
    padding:4px;
    display:block;
    -webkit-backface-visibility:visible;
    transition:opacity .2s ease
}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span {
    background:#8bc34a
}
.fadeOut {
    -webkit-animation-name:fadeOut;
    animation-name:fadeOut
}
@-webkit-keyframes fadeOut {
    0% {
    opacity:1
}
100% {
    opacity:0
}

}
@keyframes fadeOut {
    0% {
    opacity:1
}
100% {
    opacity:0
}

}
#main-contents .slide-text {
    
}
.slide-text {
    background:rgba(255, 0, 0, 0.68);
    color:#fff;
    padding:15px 30px;
    width:100%;
    position:absolute;
    left:0;
    bottom:-1px
}
.slide-text h3,.slide-text p {
    color:#fff;
    margin:0
}
@media(max-width:767px) {
    .slide-text {
    background:rgba(255, 0, 0, 0.75);
    color:#fff;
    padding:10px 15px;
    width:100%;
    position:absolute;
    left:0;
    bottom:0
}
.slide-text h3 {
    font-size:15px;
    color:#fff
}
.slide-text a.btn {
    display:none
}
.owl-carousel-fullwidth .owl-dots {
    top:0;
    display:none
}
#main-contents .owl-carousel .owl-nav .owl-next,#main-contents .owl-carousel .owl-nav .owl-prev {
    top:-20px
}

}
#footer {
    background:rgba(0,0,0,.28) no-repeat top right;
    background-blend-mode:color-dodge;
    margin-top:20px;
    border-top:4px solid #0e1215
}
#footer .footer-logo {
    margin:-20px -20px 0;
    padding:15px 20px
}
#footer .footer-logo img {
    width:180px;
    height:auto;
    margin-bottom:0;
    display:inline-block
}
#footer p {
    color:#ff0000;
    font-size:13px
}
#footer p a {
    color:#f0f8ff
}
#footer ul li {
    padding:6px 8px
}
#footer ul li a {
    color:#eee;
    border-radius:50%!important
}
#footer .widget {
    padding:15px
}
#footer .widget ul {
    margin:0;
    list-style:none
}
#footer .widget:nth-child(2) {
    padding-left:30px
}
#footer .widget .widget-title {
    background-color:transparent;
    padding:0 0 10px;
    border:none;
    border-bottom:1px solid #0778e1;
    box-shadow:none;
    color:#fff;
    font-size:18px;
    margin:0
}
#footer .widget .widget-title:after {
    border:none
}
#footer .widget .tagcloud {
    padding:10px 0
}
#footer .widget .tagcloud a {
    color:#a09f9f;
    border:none;
    line-height:20px
}
#footer .widget .tagcloud a:after {
    content:','
}
#footer .widget .tagcloud a:hover {
    background-color:#009dff
}
#footer .about {
    padding:20px;
    padding-top:10px
}
.container.footer-columns {
    padding:0
}
.footer-credit {
    background:#2285d1
}
.footer-credit .row.container {
    padding:0
}
.credit {
    padding:8px 0;
    color:#fff
}
.credit a {
    color:#adadad
}
.credit p {
    margin:0
}
@media screen and (max-width:767px) {
    #footer {
    background-image:none;
    margin-top:20px
}
.credit {
    padding:8px
}

}
.tagcloud {
    padding:15px 0
}
.tagcloud a {
    padding:2px 5px;
    font-size:13px!important;
    display:inline
}
.tagcloud a:before {
    content:'#'
}
.social {
    float:right;
    margin-top:13px
}
.social a {
    color:#fff
}
.social a .hl-facebook:hover {
    background:#29689e
}
.social a .hl-twitter:hover {
    background:#299d9e
}
.social a .hl-pinterest:hover {
    background:#841412
}
.social a .hl-gplus:hover {
    background:#bb4947
}
#footer p.text-right {
    padding:0!important;
    margin-bottom:0
}
.textwidget {
    margin-bottom:15px
}
#footer .textwidget {
    margin:0
}
.the_tag_list {
    padding:10px 15px;
    border:1px solid #0c75df
}
.the_tag_list a {
    padding:3px 0;
    margin:2px;
    color:#949494;
    font-size:12px;
    display:inline-block;
    line-height:15px
}
.the_tag_list a:hover {
    color:#f90
}
.the_tag_list a:after {
    content:',';
    color:#fff
}
.the_tag_list a:last-child:after {
    content:''
}
.actors a:after,.directors a:after {
    content:',';
    color:#dadada
}
.actors a:last-child:after,.directors a:last-child:after {
    content:''
}
.list-news {
    padding:15px 0!important;
    border-bottom:1px solid #128cff
}
.list-news:first-child {
    padding-top:0!important
}
.list-news:last-child {
    border:none
}
.list-news h2 {
    margin:0
}
.list-news img {
    width:250px;
    height:150px
}
.news-thumb {
    float:left;
    margin-right:15px
}
@media(max-width:500px) {
    .list-news img {
    width:120px;
    height:auto
}
.list-news p,.post-info span {
    display:none
}
.post-info span.published-date {
    display:block
}
.post-info h2 a {
    font-size:14px!important
}

}
#sidebar .list-news img {
    width:120px
}
#sidebar .list-news p,#sidebar .post-info span {
    display:none
}
#sidebar .post-info span.published-date {
    display:block
}
#sidebar .post-info h2 a {
    font-size:14px!important
}
.post-info h2 {
    height:inherit
}
.post-info h2 a {
    font-size:20px;
    color:#afafaf;
    -webkit-line-clamp:1;
    line-height:25px
}
.post-info p {
    margin:0;
    margin-top:5px;
    font-size:13px
}
.post-info span a {
    background:#2f9bff;
    color:#fff;
    font-size:12px;
    padding:3px 5px
}
.post-info {
    margin-top:3px
}
.post-info .published-date {
    font-size:12px;
    color:#8a8a8a
}
.single-post .wrap-content,.single-video .wrap-content {
    padding-top:15px
}
@media(max-width:767px) {
    .single-post .wrap-content,.single-video .wrap-content {
    padding-top:0;
    margin-top:-1px
}

}
.halim-movie-wrapper {
    position:relative
}
.entry-content h3 {
    font-size:18px;
    margin-top:0
}
.entry-header {
    font-size:25px;
    color:#ff9800;
    font-weight:700;
    font-family:sans-serif
}
.related-video {
    overflow:hidden;
    margin:auto -10px
}
.related-video .halim-post-title {
    bottom:0
}
.related-post {
    margin-top:15px
}
.related-post ul {
    padding:0
}
.related-post ul li {
    list-style:none;
    overflow:hidden;
    margin:15px 0
}
.related-post ul li a {
    display:block;
    color:#ff9800
}
.related-post ul li img {
    height:80px;
    float:left;
    margin-right:15px
}
.related-post ul li a.permalink {
    margin-bottom:10px
}
.user .avt img {
    border-radius:100%!important;
    margin-right:5px;
    height:30px;
    width:30px
}
.user {
    padding:3px;
    display:inline-block;
    float:right
}
@media(max-width:767px) {
    .user {
    padding:10px;
    display:inline-block;
    float:none;
    width:100%;
    text-align:center
}
#user-info.navbar-collapse.collapse.in {
    overflow:unset;
    padding:10px 30px!important
}
.user .dropdown-menu {
    width:95%!important
}

}
.user a {
    color:#fff
}
.user li a span {
    text-transform:capitalize;
    font-size:13px
}
.user .dropdown {
    display:inline-block;
    width:100%
}
.user .dropdown-menu {
    min-width:220px;
    padding:0
}

.user.user-login-option .dropdown-menu {
    margin-top:13px;
    left:-50px;
    padding:5px 10px;
    border-radius:3px
}
.user.user-login-option .dropdown-menu::after {
    content:'';
    border-bottom:8px solid #b6bdc2;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    top:-8px;
    left:53px;
    position:absolute
}
.user.user-login-option .dropdown-menu li {
    margin:5px 0;
    border-radius:20px
}
.user.user-login-option {
    background:#224361;
    display:inline-block;
    padding:5px 15px;
    border-radius:20px;
    margin-top:1px
}
.user.user-login-option li a:hover {
    border-radius:20px
}
.user.user-login-option .avt img {
    height:22px;
    width:22px
}
.user.user-login-option li.facebook {
    background:#125996
}
.user.user-login-option li.facebook a:hover {
    background:#104b7d
}
.user.user-login-option li.twitter {
    background:#1e9bd2
}
.user.user-login-option li.twitter a:hover {
    background:#1987b7
}
.user.user-login-option li.google {
    background:#b73c3a
}
.user.user-login-option li.google a:hover {
    background:#9a302e!important
}
.user-control {
    padding:15px
}
.user-control ul {
    padding:0;
    list-style:none;
    overflow:hidden;
    margin:0
}
.user-control ul li.user-avatar {
    display:inline;
    float:left
}
.user-control li {
    display:block;
    float:left
}
.user-control li.display_name {
    padding:0 10px;
    float:left;
    text-transform:uppercase
}
.user-control li.display_name a {
    display:block;
    font-size:12px;
    text-transform:none
}
.user-control.user.user-login-option.mobile {
    padding:10px;
    width:100%;
    text-align:center
}
.user-control.user.user-login-option.mobile li {
    display:inline-block;
    width:unset;
    float:none;
    padding:5px
}
.user-control.user.user-login-option.mobile a {
    padding:5px;
    display:inline-grid
}
.fb_like {
    border:none!important;
    overflow:hidden;
    height:21px!important
}
.input-group i.hl-spin4 {
    position:absolute;
    right:8px;
    bottom:6px;
    z-index:9;
    color:#fff
}
a .hl-dot-3 {
    color:#fff
}
.rating {
    margin-bottom:10px;
    float:right
}
.post-large-rate {
    width:100px;
    display:block;
    height:22px;
    background-position:left bottom;
    background-repeat:no-repeat
}
.post-large-rate span {
    width:100%;
    display:block;
    height:22px;
    background-position:left top;
    background-repeat:no-repeat;
    float:left
}
.stars-large,.stars-large span {
    background-image:url(assets/images/stars-large.png)
}
.post-single-rate {
    float:left;
    margin-right:5px
}
.user-rate {
    width:100%
}
.user-rate-wrap .user-rating-text {
    float:left
}
.user-rate-active span.post-large-rate span {
    cursor:pointer
}
.taq-load {
    background:url(assets/images/loading.gif) center no-repeat;
    width:98px;
    height:22px;
    display:block
}
#user-info.navbar-collapse.collapse.in {
    padding:0
}
.dropdown.user-info li {
    width:100%;
    list-style:none;
    margin-bottom:5px
}
.post-like.btn.btn-xs.btn-default {
    display:block;
    background:transparent;
    border:none;
    text-align:right;
    color:#fff
}
.halim-user-tool {
    border-bottom:1px solid #0073ff;
    overflow:hidden;
    padding:0;
    margin-bottom:10px
}
.halim-user-tool .col-md-6 {
    padding:0
}
.halim-user-tool .wpf-favorite-link,.halim-user-tool .wpf-favorite-links {
    position:static;
    background:transparent;
    padding:2px 5px;
    display:block;
    text-align:right
}
.page .post-content {
    padding:15px 0
}
.entry-content,.post-content {
    margin-top:-1px
}
.entry-content h2 {
    font-size:18px;
    font-family:inherit;
    line-height:26px
}
.entry-content img {
    margin:15px auto;
    border:5px solid #eff5e9;
    height:inherit!important;
    display:block
}
.animated {
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
@-webkit-keyframes fadeOutLeft {
    0% {
    opacity:1
}
to {
    opacity:0;
    -webkit-transform:translate3d(-100%,0,0);
    transform:translate3d(-100%,0,0)
}

}
@keyframes fadeOutLeft {
    0% {
    opacity:1
}
to {
    opacity:0;
    -webkit-transform:translate3d(-100%,0,0);
    transform:translate3d(-100%,0,0)
}

}
.fadeOutLeft {
    -webkit-animation-name:fadeOutLeft;
    animation-name:fadeOutLeft
}
@-webkit-keyframes fadeInRight {
    0% {
    opacity:0;
    -webkit-transform:translate3d(100%,0,0);
    transform:translate3d(100%,0,0)
}
to {
    opacity:1;
    -webkit-transform:none;
    transform:none
}

}
@keyframes fadeInRight {
    0% {
    opacity:0;
    -webkit-transform:translate3d(100%,0,0);
    transform:translate3d(100%,0,0)
}
to {
    opacity:1;
    -webkit-transform:none;
    transform:none
}

}

.halim-search-form .input-group-addon.film.hidden-xs {
    background:#0084ff;
    border:1px solid #2d3842;
    color:#cee5f8
}

.halim-search-form .form-control:focus {
    border-radius:3px!important;
    transition:.7s all
}
.halim-search-form .btn-primary {
    color:#7aa6ce;
    background-color:#0073d2;
    border-color:#2d3842;
    border-left:none;
    padding:3px 15px;
    border-radius:20px!important
}
.halim-search-form .btn-primary:hover {
    background:#007ee6
}
.halim-search-form .btn-primary .glyphicon-search {
    padding-top:5px
}
.section-title .halim-popular-tab {
    padding:0;
    position:absolute;
    right:0;
    top:-10.5px
}
.halim-popular-tab li.active {
    background:#0088ff;
    border:1px solid #0088ff
}
.halim-popular-tab li a {
    font-size:10px;
    font-weight:400;
    text-transform:none;
    cursor:pointer
}
.halim-popular-tab li.active a {
    color:#fff
}


.halim-search-filter .btn-group {
    padding:0;
    margin-bottom:10px
}
@media(min-width:991px) {
    .halim-search-filter .btn-group .col-md-1:first-child,.halim-search-filter .btn-group .col-md-2:first-child {
    padding-left:15px
}
.halim-search-filter .btn-group .col-md-1,.halim-search-filter .btn-group .col-md-2 {
    padding-right:0;
    padding-left:8px
}
.halim-search-filter .btn-group .col-md-3 {
    padding:0 0 8px 8px;
    width:22%
}
.halim-search-filter .btn-group .col-md-1 {
    width:9.333333%
}


}
.halim-search-filter .filter-box {
    border:1px solid #0081f2;
    overflow:hidden;
    margin-bottom:10px
}
.halim-search-filter .filter-box-title {
    background:#1f2d39;
    padding:4px 10px;
    text-transform:uppercase;
    font-size:12px;
    display:none
}
.halim-search-filter .filter-box label {
    margin-right:5px;
    cursor:pointer;
    font-weight:400;
    line-height:17px
}
.halim-search-filter .col-md-8 .filter-box label {
    width:31%
}
.halim-search-filter .filter-box label:hover {
    color:#f90
}
.halim-search-filter .filter-box label::before {
    content:'\2023';
    font-size:18px
}
.col-md-9 .filter-box .panel-body {
    padding:15px 30px
}
.halim-search-filter .form-inline .form-control {
    display:inline-block;
    width:100%;
    vertical-align:middle;
    border-radius:0;
    background:#0080ff;
    padding:4px 0 4px 10px;
    border:none;
    color:#fff;
    font-size:13.5px
}
.halim-search-filter .col-md-4.subtitle {
    padding-right:15px
}
.halim-search-filter input[type=radio]+label:hover,.halim-search-filter input[type=radio]:checked+label {
    font-weight:700;
    color:#ffa822
}
.halim-search-filter input[type=radio] {
    display:none
}










@keyframes nudge {
    0% {
    transform:translateX(0)
}
30% {
    transform:translateX(-5px)
}
50% {
    transform:translateX(5px)
}
70% {
    transform:translateX(-2px)
}
100% {
    transform:translateX(0)
}

}




ul.list-info-group {
    border:1px solid #0b3c02;
    padding:12px 10px;
    background:#00238526;
    text-shadow:1px 1px 4px #444545;
    box-shadow:inset 0 1px 1px transparent,0 1px 10px rgba(82, 255, 146, 0.711)
}
.list-info-group-item {
    position:relative;
    display:block;
    border-bottom:1px dashed rgba(214, 247, 218, 0.581);
    padding-bottom:7px;
    padding-top:3px
}
.list-info-group-item span {
    font-weight:700
}





@media(max-width:767px) {
    .footer-logo {
    padding:15px 0
}
#footer .footer-logo {
    padding:15px 0
}

}
